<div class="bg">

  <div class="navbar">
    <app-navbar-admin></app-navbar-admin>
  </div>

  <div class="table-container">

    <input type="text" class="search-bar" placeholder="Rechercher...">
    <button class="filter-button">Tous</button>
    <button routerLink="/userlist" class="filter-button">liste des partenaires</button>

    <table>
      <thead>
      <tr>
        <th>Nom / Prénom</th>
        <th>email</th>
        <th>Numéro de téléphone</th>
        <th>Adonement</th>
      </tr>
      </thead>
      <tbody>
        @for (user of Users;track user.lastName){

          <tr>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.idAbonement}}</td>
          </tr>
        }

      </tbody>
    </table>
  </div>
</div>
