<div class="bg">

  <div class="navbar">
    <app-navbar-admin></app-navbar-admin>
  </div>

  <div class="table-container">
    <button class="add-button">Ajouter</button>
    <input type="text" class="search-bar" placeholder="Rechercher...">
    <button class="filter-button">Tous</button>

    <table>
      <thead>
      <tr>
        <th>Nom du dépot</th>
        <th>Mail</th>
        <th>Date</th>
        <th>Frequence</th>
        <th>Adresse</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        @for (depot of depots;track depot.idGasap){

          <tr>
            <td>{{depot.depotName}}</td>
            <td>{{ depot.mail }}</td>
            <td>{{depot.deliveryDay}}</td>
            <td>{{depot.frequency}}</td>
            <td>{{depot.address}}</td>
            <td>
              <button class="modify-button">Modifier</button>
            </td>
          </tr>
        }
      <!-- Ajoutez d'autres lignes ici -->
      </tbody>
    </table>
  </div>
</div>
