<div class="footer">
  <div class="footer-aling">
    <a routerLink="/home">
    <img src="/img/logo-papelotte.svg">
    </a>
    <div class="footer-align-a">
      <!-- TODO ici changer les liens quand les page sont dispo -->
      <a routerLink="abonement"> Abonnement paniers </a>
      <a routerLink="#">Légumes</a>
      <a routerLink="#">Produit locaux</a>
      <a routerLink="#" disabled>Recettes</a>
    </div>
    <button type="button" routerLink="#"> Contact </button>
  </div>
  <hr>
  <p>make by the goblin moustache</p>
</div>

