
<div class="formulaire">
  <h3>Devenir un mangeur !</h3>
  <div class="formulaire-info">

    <form (submit)="submit($event)">
      <input type="text" id="name"  placeholder="Nom">

      <input type="text" id="lastname" placeholder="Prénom" >

      <input type="email" id="mail" placeholder="Email">

      <input type="password" id="password" placeholder="mot de passe">

      <input id="num" type="text" placeholder="Numéro de téléphone">

      <button type="submit"> Créer mon compte </button>
    </form>
  </div>
  <div class="img_size">
    <img src="/img/Carotte.png" alt="">
  </div>
</div>
