body{

}


.formulaire{
  padding: 10px;
  margin: 70px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 10px;
  background-color: #7AA191;
}

h3{
  font-family: Satt;
  font-size: 40px;
  text-align: center;
  color: #E3F5EE;
}

.formulaire-info form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Ajoutez cette ligne pour centrer les éléments enfants */
  text-align: center;
}

form label{
  font-size: 20px;


}

form input{
  margin: 10px;
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #FEFDF9;
  font-family: Regular;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  padding-left: 20px;
  }
form input:hover{
  color: black;
  font-family: Regular;
  border: 2px solid #FEFDF9;
}








button{
  margin: 20px;
  width: 150px;
  height: 40px;
}

img{
  width: 100px;


}
.img_size{
  display: flex;
  justify-content: center;
}
