<div class="navbar">

<div class="info-gasap">
  <p> Paniers disponibles dans 9 GASAP — <a routerLink="#"> Voir la liste</a></p>
</div>

<div class="logo-titre">
  <a routerLink="home">
    <img src="img/logo-papelotte.svg">
  </a>
  <a routerLink="home">
    <h1>COURGE TOUJOURS !</h1>
  </a>
  <div>
    <input type="search" placeholder="Que cherchez-vous ?">
    @if(!isloginin){
      <button routerLink="/login" class="button-login" > Login </button>
    } @else if (isloginin){
      <button class="button-login" (click) ="lougout()"> logout </button>
      <p>bonjour {{userinfo}}</p>
    }
  </div>

</div>

  <div class="liens" >
    <button type="button" routerLink="abonement" >Abonnements aux paniers</button>
    <button type="button" routerLink="productvegetable" >Légume à l'unité</button>
    <button type="button" routerLink="productlocal" >Produits locaux</button>
    <button type="button" routerLink="#">Recettes</button>

  </div>



</div>
