<div class="navbar">

<div class="info-gasap">
  <p> Paniers disponibles dans 9 GASAP — <a routerLink="#"> Voir la liste</a></p>
</div>

<div class="logo-titre">
  <a routerLink="home">
    <img src="img/logo-papelotte.svg">
  </a>
  <a routerLink="home">
    <h1>COURGE TOUJOURS !</h1>
  </a>
    <input type="search" placeholder="Que cherchez-vous ?">
</div>

  <div class="liens" >
<!-- TODO ici changer les liens quand les page sont dispo -->
    <button type="button" routerLink="abonement" >Abonnements aux paniers</button>
    <button type="button" routerLink="#" >Légume à l'unité</button>
    <button type="button" routerLink="#" >Produits locaux</button>
    <button type="button" routerLink="#">Recettes</button>

  </div>



</div>

