<div class="navbar">

<div class="info-gasap">
  <p> Paniers disponibles dans 9 GASAP — <a routerLink="#"> Voir la liste</a></p>
</div>

<div class="logo-titre">
  <img src="img/logo-papelotte.svg">
  <h1>COURGE TOUJOURS !</h1>
    <input type="search" placeholder="Que cherchez-vous ?">
</div>

  <div class="liens" >

    <button type="button">Abonnements aux paniers</button>
    <button type="button">Légume à l'unité</button>
    <button type="button">Produits locaux</button>
    <button type="button" disabled>Recettes</button>

  </div>



</div>

