

<a type="button-back" appBack>
  <img src="/img/picto/back.svg" class="button-back" alt="Retour" width="62px" height="62px">
</a>

<div class="detail-Base-product">

  <img src="/img/test_carer.jpg" class="img-product">

  <div class="product-detail">
    <h5>{{productdetail.product_name}}</h5>
    <h6>{{productdetail.product_description}}</h6>

    <div class="price-quantiter">
      <p class="prices">{{priceTotal}}€</p>
      <select (change)="changePrice($event)">
        <option value="10" >10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
    </div>

    <p class="prices-uniter">{{productdetail.product_price}}€/unité</p>
    <div class="produit-button" >
      <p class="stock-product"> Stock: {{productdetail.stock_product}}</p>
      <div class="button-picto">
        <input type="submit" name="choise_basket" id="hpp">
        <label for="hpp" class="radio-label">
        </label>
      </div>
    </div>
  </div>





</div>



