/* les info du pourquoi faire des paniers*/

.info-sub{
  border: 10px;
  margin: 20px;
  border-radius: 20px ;
  background-color: #7AA191;
}

.info-sub-titre{
  font-family: 'Satt';
  text-align: left;
  padding: 10px;

}

.info-sub-text{
  color: #E3F5EE;
  padding: 10px;
  font-size: 15px;
  margin: 5px;

}




/* les info des paniers  */
.formules{
  border: 10px;
  margin: 20px;
  border-radius: 20px ;
  background-color: #7AA191;
}

.formules-Bimensuelle{
  width: 45%;

}
.formules-Hebdomadaire{
  width: 45%;

}

h1{
  font-family: 'Satt';
  text-align: center;
  text-transform: uppercase;
  color: #E3F5EE;
  font-size: 50px;
  margin-top: 5px;
}

.titre{
  margin: 5px;
  border-radius: 10px;
  padding: 8px;
  background-color: #E3F5EE;
  color: #7AA191;

  text-align: center;
}
.titre h2{
  margin: 0px;
  padding: 0px;
}

.panier{

  background-color: #FEFDF9;
  border-radius: 10px;
  text-align: center;
  margin: 10px;

  width: 50%;
  height: 60%;
}

.panier-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.panier-detail{
  background-color: #90b8a5;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  color: #E3F5EE;

}
.panier-detail h3{
  margin-top: 0;
  text-align: center;
  font-size: 30px


}

.panier-size{
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.panier-total{
  margin-top: 0;
}


.formules-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

/*BUTTON */

  input[type="radio"] {
    display: none;
  }
.radio-label{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #FEFDF9;
  background-image: url(/img/picto/check-default.svg) ;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F4D040; /* Couleur jaune */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.radio-label:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(106, 106, 106, 0.6);
}
input[type="radio"]:checked + .radio-label {
  background-image: url(/img/picto/check-01.svg); /* Chemin vers ton image de la coche */
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.button-picto{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.button-picto img{
  margin-bottom: 10px;
}
.button-picto label{
  margin-right: 10px;
}

/* PICTO */

.picto{
  width: 100px;
  height: 100px;
}

.info-depot{
  border: 10px;
  margin: 20px;
  border-radius: 20px ;
  background-color: #7AA191;



}


/* DEPOT Style */
.depot-all{

  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.depot-detail{
  border-radius: 10px;
  background-color: #E3F5EE;
  width: 30%;
  padding: 10px;
  margin: 10px;
}

.depot-detail h5{
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;

}

.chose-depot{
  background-color: #FEFDF9;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 20em;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.form-detail{
  background-color: #7AA191;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  transition: all .5s ease;
  margin: 10px;
  background-color: #7AA191;
  color: #FEFDF9;


}
.card:hover{
  background-color: transparent;
  color: #7AA191;
  cursor: pointer;
}

.card-picto{
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}
select{
  font-family:'Regular';
  border-radius: 10px;
}

.spacing{
  margin-left: 8px;
}
