<div class="formules">

  <h1>nos formules <br>d’Abonnements</h1>

  <div class="formules-flex">
    <div class="formules-Hebdomadaire">

      <div class="titre">
        <h2>Formule Hebdomadaire</h2>
      </div>
      <div class="panier-flex">
          <div class="panier">
            <div class="panier-detail">
              <h3>Petit Panier</h3>
            </div>
            @for (sub of Subs;track sub.idSub){
              @if (sub.idSub == 1){
                <p>{{sub.priceSub | currency:'EUR':true }} </p>
              }
            }

          </div>

          <div class="panier">
            <div class="panier-detail">
              <h3>grand Panier</h3>
            </div>

            <p>un prix ici !</p>

      </div>

      </div>

    </div>
    <div class="formules-Bimensuelle">

      <div class="titre">
        <h2>Formule Bimensuelle</h2>
      </div>

    </div>
  </div>
</div>
