<div class="text-info" >

<div class="text-info-left">
  <h1>Découvrez <br>nos Formules d’abonnements !</h1>
  <p> <B>Découvrez nos paniers :</B> un modèle solidaire qui
    connecte producteurs et mangeurs. Livraison
    locale via les GASAP, organisation collaborative et
    engagement annuel garantissent des produits frais et un lien direct avec la terre.
    <B>Rejoignez-nous pour une consommation durable ! </B></p>
  <div class="button-alin">
    <button class="abo" routerLink="#"> Devenir un Mangeur </button>
    <button class="legume" routerLink="#"> Devenir partenaire </button>
  </div>
</div>
<div class="img-info">
<!-- TODO changer la photo ici-->
  <img src="/img/test_rectangle.png" alt="">
  <p>Légumes de saison</p>
  <h2 (click)="goAbonnement()">Voir les paniers</h2>
  <p>Séance d'information</p>
</div>

</div>

<div class="partner">
  <h1>Nos partenaires</h1>
  <div class="partner-image">
    <img src="/img/Belicious.png" alt="Belicious">
    <img src="/img/petitKaiyou.png" alt="Petit Kaiyou">
    <img src="/img/Farm.png" alt="Farm">
    <img src="/img/Cabas.png" alt="Cabas">
    <img src="/img/TheBrain.png" alt="the Barn">
    <img src="/img/Logo-GASAP.svg" alt="GASAP">
  </div>



</div>
