<div class="bg" >
  <a>
    <img src="/img/picto/home-navbar-admin_1.svg" alt="">

  </a>

  <a routerLink="/productadmin">
    <img src="/img/picto/abo.svg" alt="">
    <p>type de paniers</p>
  </a>
  <a routerLink="/productadmin">
    <img src="/img/picto/chose_product.svg" alt="">
    <p>Liste de produit</p>
  </a>
  <a routerLink="/productadmin">
    <img src="/img/picto/depot.svg" alt="">
    <p>Liste des depot</p>
  </a>

  <a routerLink="/productadmin">
    <img src="/img/picto/people_2.svg" alt="">
    <p>Liste des utilisateurs</p>
  </a>
</div>
