<div class="bg">

  <div class="navbar">
    <app-navbar-admin></app-navbar-admin>
  </div>

  <div class="table-container">
    <button class="add-button">Ajouter</button>
    <input type="text" class="search-bar" placeholder="Rechercher...">
    <button class="filter-button">Tous</button>
    <table>
      <thead>
      <tr>
        <th>Nom Produit</th>
        <th>Description</th>
        <th>Mois</th>
        <th>Stock</th>
        <th>Prix unitaire</th>
        <th>Statut</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Potimarron</td>
        <td>Texte</td>
        <td>Décembre (plusieurs mois)</td>
        <td>000</td>
        <td>00.00 €</td>
        <td>Disponible</td>
        <td>
          <button class="modify-button">Modifier</button>
          <button class="delete-button">🗑️</button>
        </td>
      </tr>
      <!-- Ajoutez d'autres lignes ici -->
      </tbody>
    </table>
  </div>
</div>
